<footer class="footer">
  <div class="container">
    <span class="text-muted credit">Example Application <a href="http://sailsjs.org/" target='_blank'>Sails.js</a> by <a href="https://github.com/stormfire"target='_blank' >Pankaj Gupta</a>.</span>
  </div>
</footer>
