<div class='container'>
		<h3>User Details</h3>
			<div class='row'>
				<div class='jumbotron col-lg-8'>
					<div class='row'>
						<div class='col-lg-2'>Email</div>
						<div class='col-lg-10'><%= user.email%>	</div>
					</div>
					<div class='row'>
						<div class='col-lg-2'>First Name</div>
						<div class='col-lg-10'><%= user.firstName%>	</div>
					</div>
					<div class='row'>
						<div class='col-lg-2'>Last Name</div>
						<div class='col-lg-10'><%= user.lastName%>	</div>
					</div>
				</div>
			</div>
		</div>
</div>

<div class='container'>
	<a href='/' class="btn btn-default">Back</a>
</div>